## Rename this file in phpspec.yml to customize the phpspec configuration
suites:
    AkeneoPimEnterpriseClient:
        namespace: Akeneo\PimEnterprise\ApiClient
        psr4_prefix: Akeneo\PimEnterprise\ApiClient
